---
# tasks file for ansible-role-snort

- name: verify required variable is defined
  fail:
    msg: "Required variable 'ids_provider' is not defined"
  when: ids_provider is not defined

- name: ensure ids_provider is valid
  fail:
    msg: "Provided value for 'ids_provider' is not valid, must be one of {{ ids_provider_list }}"
  when: ids_provider not in ids_provider_list

- name: install ids provider snort
  when: "ids_provider == 'snort'"
  block:
    - name: import geerlingguy's epel role
      import_role:
        name: "geerlingguy.repo-epel"

    - name: install snort and dependent packages - user defined
      yum:
        name: "{{ ids_install_pkgs }}"
        state: installed
      when: ids_install_pkgs is defined

    - name: install snort and dependent packages - defaults
      yum:
        name: "{{ ids_install_snort_pkgs }}"
        state: installed
      when: ids_install_pkgs is not defined

    - name: install pulledpork when specified
      yum:
        name: "pulledpork"
        state: installed
      when: ids_install_snort_use_pulledpork

    # This is to work around a packaing problem with upstream snort's rpm install
    - name: symlink libdnet.1 to libdnet.so.1
      file:
        src: /usr/lib64/libdnet.so.1
        dest: /usr/lib64/libdnet.1
        state: link

    - name: create dynamic rules dir
      file:
        path: /usr/local/lib/snort_dynamicrules
        state: directory

    - name: install snort systemd service unit file
      template:
        src: snort.service.j2
        dest: /etc/systemd/system/snort.service
      notify: systemctl daemon-reload

    - name: install snort sysconfig file
      template:
        src: etc_sysconfig_snort.j2
        dest: /etc/sysconfig/snort
      notify: systemctl daemon-reload

    - name: handle ids_install_snort_community_rules_url
      block:
        - name: get ids_install_snort_community_rules_url rules
          get_url:
            url: "{{ ids_install_snort_community_rules_url }}"
            dest: "/tmp/ansible_role_ids_snort_community-rules.tar.gz"

        - name: unpack ids_install_snort_community_rules_url rules
          unarchive:
            remote_src: true
            src: "/tmp/ansible_role_ids_snort_community-rules.tar.gz"
            dest: "/etc/snort/"
            creates: "/etc/snort/{{ ids_install_snort_community_rules_subdir }}"

        - name: check for /etc/snort/community-rules/ from rules
          stat:
            path: '/etc/snort/community-rules/'
          register: comm_st

        - name: Grab the list of files in /etc/snort/community-rules/
          find:
            paths: '/etc/snort/community-rules/'
            file_type: file
          register: comm_rules_files

        - name: copy /etc/snort/community-rules/ files from rules into /etc/snort/
          copy:
            remote_src: true
            src: '{{ item["path"] }}'
            dest: '/etc/snort/{{ item["path"]|basename }}'
            force: false
          loop: "{{ comm_rules_files['files'] }}"
          when:
            - (comm_st.stat.isdir is defined) and comm_st.stat.isdir
            - item != "snort.conf"

        - name: check for community.rules from rules
          stat:
            path: '/etc/snort/community.rules'
          register: commr_st

        - name: ensure rules dir exists
          file:
            path: '/etc/snort/rules'
            state: directory

        - name: copy community.rules into
          copy:
            remote_src: true
            src: '/etc/snort/community.rules'
            dest: '/etc/snort/rules/community.rules'
            force: false
          when: (commr_st.stat.isdir is defined) and commr_st.stat.exists
      when: >
        (ids_install_snort_community_rules_url is defined) and
          ids_install_snort_community_rules_url|length|int > 0

    # NOTE: Order matters, snort registered rules should "win" over community
    #       rules if/when there is ever a conflict in the content. Always copy
    #       registered content last
    - name: handle ids_install_snort_registered_rules_url rules
      block:
        - name: get ids_install_snort_registered_rules_url rules
          get_url:
            url: "{{ ids_install_snort_registered_rules_url }}"
            dest: "/tmp/ansible_role_ids_snort_registered_rules.tar.gz"

        - name: unpack ids_install_snort_registered_rules_url rules
          unarchive:
            remote_src: true
            src: "/tmp/ansible_role_ids_snort_registered_rules.tar.gz"
            dest: "/etc/snort/"
            creates: "/etc/snort/{{ ids_install_snort_registered_rules_subdir }}"

        - name: check for /etc/snort/etc/ from rules
          stat:
            path: '/etc/snort/etc/'
          register: st

        - name: Grab the list of files in /etc/snort/etc/
          find:
            paths: '/etc/snort/etc/'
            file_type: file
          register: reg_rules_files

        - name: copy /etc/snort/etc/ files from rules into /etc/snort/
          copy:
            remote_src: true
            src: '{{ item["path"] }}'
            dest: '/etc/snort/{{ item["path"]|basename }}'
            force: false
          loop: "{{ reg_rules_files['files'] }}"
          when:
            - (st.stat.isdir is defined) and st.stat.isdir
            - item != "snort.conf"
      when: >
        (ids_install_snort_registered_rules_url is defined) and
          ids_install_snort_registered_rules_url|length|int > 0

    # FIXME - this is kind of a hack
    - name: ensure snort required files exist
      file:
        path: "{{ item }}"
        state: touch
        modification_time: "preserve"
        access_time: "preserve"
      with_items:
        - /etc/snort/rules/white_list.rules
        - /etc/snort/rules/black_list.rules
        - /etc/snort/rules/local.rules

    - block:
        - name: ensure dirs exist as needed for pulledpork
          file:
            path: "/etc/snort/rules/iplists/"
            state: "directory"

        - name: run pulledpork
          shell: "/usr/bin/pulledpork -c /etc/pulledpork/pulledpork.conf && /usr/bin/touch /etc/pulledpork/ran_pulled_pork"
          args:
            creates: /etc/pulledpork/ran_pulled_pork
      when: ids_install_snort_use_pulledpork

- name: configure ids log normalization for provider snort
  when: "ids_provider == 'snort' and ids_install_snort_barnyard2_normalize_logs"
  block:
    # Originally from rmonk copr
    # https://copr.fedorainfracloud.org/coprs/rmonk/Snort-IDS/
    - name: install barnyard
      yum:
        name: "https://s3.amazonaws.com/linklight.securityautomation/barnyard2-1.13-1.el7.x86_64.rpm"
        state: installed

    - name: copy barnyard configuration template
      template:
        src: barnyard2.conf.j2
        dest: /etc/snort/barnyard2.conf

    - name: install barnyard2 systemd service unit file
      template:
        src: barnyard2.service.j2
        dest: /etc/systemd/system/barnyard2.service
      notify: systemctl daemon-reload

    - name: install barnyard2 sysconfig file
      template:
        src: etc_sysconfig_barnyard2.j2
        dest: /etc/sysconfig/barnyard2
      notify: systemctl daemon-reload

    - name: start barnyard2
      service:
        name: barnyard2
        state: started
        enabled: true
